.main {
  width: 27.625rem;
  height: 27.625rem;
  object-fit: cover;
  border-radius: 0.625rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}

@media screen and (max-width: 500px) {
  .main {
    width: 100%;
    margin: 20px;
  }
}
